@charset 'utf-8';
/*서브비주얼영역*/
#sub-visual-container {}
.sub-visual {
    background-repeat: no-repeat;
}
/*서브메인영역*/

.list-img img{
    float: left;
    width: 43%;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}


/*모바일*/
@media screen and (max-width: 767px) {
    .sub-visual {
        background-image: url('../images/jasa_m_bg1.jpg');
    }
    .sub-visual-inner {
        top: 30%;
        margin: 0 6%;
    }
    .sub-visual-txt h3 {
        font-size: 1.8em;
    }
    .lnb-container {
        display: none;
    }
    /*서브메인*/
    .sub-main-wrap h2, h3, .sub-main-txt{
        margin: 10px auto;
    }
    .sub-img {
        max-width: 500px;
    }
    .list-img img{
        width: 43.3%;
        margin: 10px;
    }
    .sub-main-wrap h3 {
        font-size: 1.1em;
    }
    .sub-main-txt {
        font-size: 0.95em;
    }
    /*서브바텀영역*/
    #sub-bottom {
        text-align: center;
    }
    .sub-bottom-txt {
        margin-top: 50px;
    }
    .sub-bottom-txt h3 {
        padding: 0 20px;
        font-size: 1.1em;
    }
}
/*태블릿부터는*/
@media screen and (min-width: 768px) {
    /*서브비주얼영역*/
    .sub-visual {
        background-image: url('../images/jasa_bg1.jpg')
    }
    .sub-visual-inner {
        top: 35%;
    }
    .sub-visual-txt h3 {
        font-size: 2.5em;
    }
    .sub-visual-desc {
        font-size: 1.2em;
    }
    /*서브메인영역*/
    .title-icon {
        margin-top: 40px;
    }
    .sub-main-wrap h2, .sub-main-wrap h3, .sub-main-txt{
        margin: 20px auto;
    }
    .sub-main-wrap h2 {
        font-size: 2em;
    }
    .sub-main-wrap h3 {
        font-size: 1.5em
    }
    .sub-main-txt {
        font-size: 1.1em;
    }
    .sub-img {
        max-width: 1000px;
    }
    .list-img img {
        width: 28%;
        margin: 19px;
    }
    /*서브바텀영역*/
    .sub-bottom-txt {
        margin-top: 70px;
    }
    .sub-bottom-txt h3 {
        font-size: 1.2em;
    }
}
/*태블릿만*/
@media screen and (min-width: 768px) and  (max-width: 1279px) {
    .sub-visual-inner {
        margin:0 20%;
    }
    .sub-bottom-txt {
        padding-left: 8%;
    }
    /*lnb영역*/
    .lnb-container ol {
        left: 48px;
        width: 120px;
    }
    .btn-home {
        margin-left: 0;
    }
    .lnb-depth2 {
        margin-left: 171px;
    }
    .lnb-depth2 li {
        width: 120px;
    }
}
/*데스크탑*/
@media screen and (min-width: 1280px) {
    .sub-visual-inner {
        margin:0 35%;
    }
    .sub-bottom-txt {
        padding-left: 24%;
    }
}